---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="About">
<section>
  <h2>About</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolore nostrum placeat quos! Quasi assumenda est quod praesentium natus sit qui quo dolores! Excepturi reprehenderit temporibus delectus, minus pariatur mollitia?</p>
</section>
</MainLayout>
