---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="About">
<section class="about">
  <h2 class="about-title">About</h2>
    <p>Here is a gallery of birds drawn by Kris Mukai. Gallery site created by Arlin Ortiz. 
      This site was created as a learning expiriance for building static sites using 
      <a href="https://astro.build/" target="_blank">Astro</a>, 
      <a href="https://photoswipe.com/" target="_blank">Photoswipe</a>, and 
      <a href="https://cloudinary.com/" target="_blank">Cloudinary</a>.
    </p>
    <br>
    <p>Kris is an illustrator, writer, and cartoonist. <a href="http://www.hikrismukai.com/" target="_blank">Website</a></p>
    <p>Arlin is an illustrator, developer, and designer. <a href="https://arlinortiz.com/" target="_blank">Website</a></p>
</section>
</MainLayout>

<style>

  .about {
    max-width: 70ch;
  }
  .about-title {
    margin-bottom: 1rem;
  }

  .about a {
    text-decoration: underline;
  }

  .about a:hover {
    color: blue;
  }

</style>