---
const year = new Date().getFullYear()
---


<footer>
  <p>All Images Copyright &copy; {year} Kris Mukai. All Rights Reserved.</p>
  <p>Site by <span class="name">Arlin Ortiz.</span></p> 
</footer>

<style>
  footer {
    margin-top: 5rem;
    padding-left: 1rem;
    /* display: flex;
    justify-content: space-between; */
    color: grey;
  }

</style>