---
const year = new Date().getFullYear()
---


<footer>
  <p class="copywrite">
    <span>All Images Copyright &copy; {year} Kris Mukai.&nbsp;</span>
    <span>All Rights Reserved.&nbsp;</span>
    <span>Site by Arlin Ortiz.</span> 
  </p>
  
</footer>

<style>
  footer {
    font-size: var(--font-size-xs);
    margin-top: 5rem;
    padding-left: 1rem;
    color: grey;
  }

  p {
    margin: 1rem 0;
  }

  .copywrite {
    display: flex;
    flex-wrap: wrap;
  }

</style>