---
import { Image } from '@astrojs/image/components';
const birdImages = await Astro.glob('../assets/bird_images/*.jpg')
---


<ul class="gallery" id="bird-gallery">
  {
    birdImages.map((img) => (
      <li>
        <a href={img.default.src}
            data-pswp-width={img.default.width} 
            data-pswp-height={img.default.height} 
            target="_blank">
          <Image
            src={img.default.src}
            width={300}
            aspectRatio={img.default.width / img.default.height}
            class="gallery__image"
            />
        </a>
      </li>
    ))
  }
</ul>

<style>
  .gallery {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .gallery li {
    flex-basis: 200px;
  }

  .gallery img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  .gallery img:hover {
    position: relative;
    bottom: 1rem;
  }

</style>

<script>
  import PhotoSwipeLightbox from 'photoswipe/lightbox';
  import 'photoswipe/style.css';

  const lightbox = new PhotoSwipeLightbox({
    gallery: '#bird-gallery',
    children: 'li',
    pswpModule: () => import('photoswipe')
  });
  lightbox.init();
</script>