

<header class="header">
  <div class="title__container">
    <h1>BIRDS</h1>
    <p>By Kris Mukai</p>
  </div>
</header>

<style>

  h1 {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: 8rem;
  }

  header {
    padding-left: 1rem;
    margin: 3rem 0;
  }


</style>