

<header class="header">
  <div class="title__container">
    <h1>BIRDS</h1>
    <p>By Kris Mukai</p>
  </div>
</header>

<style>

  header {
    padding-left: 1rem;
    margin: 3rem 0;
  }

</style>