---
import NavLink from "./NavLink.astro";
---

<nav>
  <ul class="menu-list">
    <li class="menu-item"><NavLink href="/">Gallery</NavLink></li>
    <li class="menu-item"><NavLink href="/about/">About</NavLink></li>
  </ul>
</nav>

<style>
  .menu-list {
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
  }



</style>